<!-- partial for head -->
<%- include('./partials/header') %>

    <body>
        <h1 id="site-title">Meme Collections</h1>

    </body>
    <!-- partial for footer -->
    <%- include('./partials/footer') %>