<!-- partial for head -->
<%- include('./partials/header') %>

    <body>
        <h1 id="site-title">Meme Collections</h1>
        <ul>
            <li>
                <% if (user) { %>
                    <a href="/logout">Log Out</a>
                    <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
            </li>
        </ul>
        <% if (user) { %>
            <div class="add-category-btn"></div>
            <form action="/category/new">
                <input type="submit" value="Add Category" />
            </form>
            <div>
                <% } %>

                    <div class="container">
                        <div class="row row-cols-3">
                            <div class="col">Column</div>
                            <div class="col">Column</div>
                            <div class="col">Column</div>
                        </div>
                    </div>
    </body>
    <!-- partial for footer -->
    <%- include('./partials/footer') %>