<!-- partial for head -->
<%- include('./partials/header') %>

    <body>
        <h1 id="site-title">Meme Collections</h1>
        <ul>
            <li>
                <% if (user) { %>
                    <a href="/logout">Log Out</a>
                    <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
            </li>
        </ul>
        <% if (user) { %>
            <div class="add-category-btn">Tickets: </div>
            <form action="/category/new">
                <input type="submit" value="Add Category" />
            </form>
            <div>
                <% } %>
    </body>
    <!-- partial for footer -->
    <%- include('./partials/footer') %>