<!-- partial for head -->
<%- include('../partials/header') %>
    <%- include('../partials/nav') %>

        <div class="d-flex justify-content-center mb-3">
            <form id="new-form" action="/category/new" method="POST">
                <label>
                    <input type="text" name="name" placeholder="type here"
                        class="shadow-none p-2 mb-4 bg-light rounded">
                </label>
                <input type="submit" value="Add Category" class="btn btn-danger text-white">

            </form>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <% if (exist) { %>
                <p class="text-warning">Category Already exits! Please enter another one.</p>
                <% } %>
        </div>

        <!-- partial for footer -->
        <%- include('../partials/footer') %>