<!-- partial for head -->
<%- include('../partials/header') %>

    <body>
        <%- include('../partials/nav') %>
            <p>test</p>
            <div class="category-header">

            </div>
    </body>

    <!-- partial for footer -->
    <%- include('../partials/footer') %>