<!-- partial for head -->
<%- include('../partials/header') %>

    <body>
        <%- include('../partials/nav') %>
            <p>
                <%=category.name%>
            </p>
    </body>

    <!-- partial for footer -->
    <%- include('../partials/footer') %>